#p1_area {
    text-align: center;
}
#p2_area {
    text-align: center;
}        
.buttons {
    width: 20vw;
    height:10vh;
}
#nextButton {
    display: none;
}
#done_button {
    display: none;
}
#ron_button {
    display: none;
}
.drop_area {
    left:10%;
    position:relative;
    width: 80%;
}
.drop_area img {
    width:calc(100% / 25)
}
#startButton {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 10px;
}
/* 設定 */
#setting_icon {
    position: fixed;
    height: 6vh;
    right: 5vw;
    bottom: 5vh;
    z-index: 101;
}
#winSettingsModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 102;
}
/* ルール説明 */
.modal {
    display: flex;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center; /* 画面中央に配置 */
}
.modal-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 60%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 画面の中央に配置 */
}
.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.modal-body {
    text-align: left;
    padding-left: 20px;  /* 左に余白を入れる */
    font-size: 100%;
    line-height: 1.6;
}
/* ✕ボタンのスタイル */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: red;
}
#p1_hand, #p2_hand {
    display: block;
    grid-template-columns: repeat(8, 1fr); /* 8枚を等間隔で配置 */
    justify-content: center;
}
#p1_hand img, #p2_hand img {
    gap: 5px;
    text-align: center;
    width: calc(100%/8 - 15px); /*padding = 5px なら15px*/
}
.modelModal p {
    padding: 0 10% 0 0;
}
.modelModal button {
    min-width: 20%;
    max-width: 40%;
    height: 40%;
    margin: 0 10px 0 0;
    display: inline;
}
.modelModal {
    text-align: center;
    left: 5%;
    width: 90%;
    height: 25%;
    padding: 10px 0 10px 0;
    margin-bottom: 5vh;
    border: 2px solid #333333;
    border-radius: 10px;
    font-size: 2vh;
}
#modelModals {
    display: none;
    position: fixed;
    left: 20%;
    top: 5%;
    width: 60%;
    height: 80%;
    background: white;
    border: 1px solid black;
    padding: 0 0 0 5%;
    z-index: 102;
    overflow-y: scroll;
}

#buttonModal {
    display: none;
    position: fixed;
    text-align: center;
    left: 20%;
    top: 85%;
    width: 65%;
    height: 10%;
    background: white;
    border: 1px solid black;
    z-index: 103;
}
#inputButton {
    display: inline;
    font-size: 4vh;
    margin: 0 0 0 10px;
}
#buttonModal button {
    width: 40%;
    height: 75%;
    margin: 10px 2% 0 0;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#NewModelOptionsDiv{
    left: 5%;
    width: 90%;
    margin-bottom: 10px;
}
#NewModelOptionsDiv{
    display: inline;
    text-align:right;
}
#_inputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    left: 5%;
    width: 90%;
    height: 10%;
}
#inputTag {
    flex-grow: 1;
    width: auto;
    display: inline;
}

#inputButton {
    cursor: pointer;
    background-color: #ddd;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputTag, #inputButton {
    height: 60%; /* 共通の高さを指定 */
    border-radius: 5px;
}
.selected {
    border: 4px solid red; /* Inner border effect */
    padding: 3px; /* Adjust padding to ensure the border is inside */
    box-shadow: inset 0 0 5px 3px rgba(255, 0, 0); /* Inner glow effect */
}



#predictTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#predictTable th, #predictTable td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#predictTable th {
    background-color: #555;
    color: white;
    font-weight: bold;
}

#predictTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#predictTable tbody tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

#predictResultContainer {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}
#hintContainer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
}

#hintTable {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#hintTable th, #hintTable td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#hintTable th {
    background-color: #555;
    color: white;
    font-weight: bold;
}

#hintTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#hintTable tbody tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

#loadingModelButtonDiv {
    height: 3vh;
    margin: 0 5% 5% 0;
}

@media screen and (max-width: 730px) {
    #winSettingsModal {
        left: 50%;
        width: 80%
    }
    #inquiry {
        display: block;
    }
    .modal-content {
        max-width: 100%;
    }
    .drop_area img{
        width:calc(7%)
    }
    .buttons {
        width: 30%;
    }
    /* 背景 */
    #startScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('../images/start_screen_mobile.webp') no-repeat center center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 98;
    }
    .modal-body {
        text-align: left;
        padding-left: 10px;  /* 左に余白を入れる */
        font-size: 80%;
        line-height: 1.6;
    }
    #modelModals {
        display: none;
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 85%;
        background: white;
        border: 1px solid black;
        padding: 0 0 0 5%;
        z-index: 102;
        overflow-y: auto;
    }
    #buttonModal {
        display: none;
        position: fixed;
        text-align: center;
        left: 0%;
        top: 85%;
        width: 100%;
        height: 15%;
        background: white;
        border: 1px solid black;
        z-index: 103;
    }
}
@media screen and (min-width: 731px) {
    /* 背景 */
    #startScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/start_screen_desktop.webp') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 98;
    }
}
input[type="number"]{
    width: 100%;
    min-width: 200px;
    height: 48px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#gameRuleButton {
    position: fixed;
    bottom: 5%;  /* 画面上部から10pxの位置に */
    left: 5%;  /* 画面右端から10pxの位置に */
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 99;  /* 最前面に */
}
